* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background: #fff;
  padding: 10px 200px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

section {
  padding: 100px 200px;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #000;
  color: white;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.portfolio {
  background: #c1e8ff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_card {
  background: white;
  width: 23em;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px;
  transition: 0.4s;
}

.project_card:hover {
  transform: scale(1.05);
}

/* VIDEO SYSTEM */
.project_image {
  width: 100%;
  background: black;
}

.project_image.vertical {
  aspect-ratio: 9 / 16;
}

.project_image.horizontal {
  aspect-ratio: 16 / 9;
}

.project_image iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.info {
  padding: 1em;
}

.project_paragraph {
  font-size: 0.85em;
}

.project_title {
  margin-top: 8px;
  font-weight: 800;
}
